header {
  font-size: 2em;
  margin-left: 2rem;
}
article {
  margin-left: 4rem;
  color: #4d4e53;
  font-size: 0.96em;
  letter-spacing: 0.5pt;
  line-height: 20pt;
}
@media only screen and (max-width: 400px) {
  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-family: monospace;
}
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}
#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
#main-doc {
  position: absolute;
  margin-left: 290px;
  padding: 20px;
  margin-bottom: 110px;
}
#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}
.principal_header {
  background-color: yellow;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
}
.divider {
  height: 4px;
  width: 15%;
  background-color: yellow;
  margin-top: 5px;
  margin-bottom: 2em;
  margin-left: 2rem;
}
